# Dependencies
node_modules/
**/node_modules/
.pnp/
.pnp.js

# Testing & Coverage
coverage/
**/coverage/

# Production Build
dist/
build/
client/dist/
server/dist/
**/.vite/

# Environment Variables & Secrets
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.*
client/.env
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log
**/*.log

# OS & Editor Files
.DS_Store
**/.DS_Store
*.pem
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
